Autonomous AI Task Solver with Knowledge Search and API Integration.json
{
  "name": "Autonomous AI Task Solver with Knowledge Search and API Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "56de6e7d-4950-4c20-a20d-b757aa8e3294",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        432
      ],
      "webhookId": "3c5599d2-6781-47bc-a96d-e98ec40d0ea3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "stepCounter",
              "value": 1,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "finalAnswer",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "isComplete",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2cbfab56-b8a7-4f8c-a9de-2ab35f26fbfa",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "id": "ebe7c5d9-1275-4dcb-912e-d99af3f917ec",
      "name": "Initialize Step Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are an autonomous AI agent. Your goal is to solve the user's task step by step. You can search the knowledge base using the vector search tool. When you have completed the task, respond with your final answer in JSON format: {\"action\": \"final_answer\", \"answer\": \"your answer\"}. For intermediate steps, use: {\"action\": \"tool_name\", \"input\": \"tool_input\"}."
        }
      },
      "id": "6f2275c2-ea5a-4598-b9eb-c33f3d9d589d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        432
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e66e82ca-4647-4aac-9991-3f2ff52bc1b2",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        672
      ],
      "credentials": {
        "openAiApi": {
          "id": "ECltLzqhLqxmpjlQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base for relevant information to answer the user's question",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "b98aeb91-f42a-4920-880f-6c1fab623474",
      "name": "Vector Store RAG",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1104,
        672
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a00e7b5c-5624-4263-a74f-ac2149f40c69",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        928,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "ECltLzqhLqxmpjlQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "stepCounter",
              "value": "={{ $('Initialize Step Counter').item.json.stepCounter + 1 }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "isComplete",
              "value": "={{ true }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ca22353a-7e14-4836-a9ce-713704a5c0ad",
      "name": "Increment Step Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        224
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.stepCounter }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.isComplete }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a15b136-4eed-4f31-92f1-e43ab3c9b2e1",
      "name": "Check Loop Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        384
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "972fb97d-6c5e-440d-9d55-c6aa9066e406",
      "name": "Return Final Answer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1808,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        272
      ],
      "id": "c431e644-4779-441b-894b-20a715ad2dc2",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        624
      ],
      "id": "8cef608c-b70d-48b3-bffd-43f232d0c587",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Initialize Step Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Step Counter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store RAG",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Increment Step Counter": {
      "main": [
        [
          {
            "node": "Check Loop Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loop Condition": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Final Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Increment Step Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "15e8791a-fb8b-4e52-898e-8ac074b6ebc9",
  "meta": {
    "instanceId": "a3c3b5dfdf62baa219870a5e3bc5c5e4f5b1a886320898b5f9a89be871b2608a"
  },
  "id": "VYo81ww3ToM3q3oU",
  "tags": []
}